<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action="/calculator/" method="post">
        {% csrf_token %}
        <label>First number:</label><br/>
        <input type="1_number" name="1num"/><br/> 
        <label>Second number:</label><br/>
        <input type="text" name="2num"/><br/><form>
        <input type="radio" id="html" name="operation" value="PLUS">
        <label for="html">Plus</label><br>
        <input type="radio" id="css" name="operation" value="MINUS">
        <label for="css">Minus</label><br>
        <input type="radio" id="javascript" name="operation" value="MULTIPLY">
        <label for="javascript">Multimply</label><br>
        <input type="radio" id="javascript" name="operation" value="DIVIDE">
        <label for="javascript">Divide</label>
        <input type="submit" value="Send"/>
    </form>
    
</body>
</html>