<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
    <h1>Calculator:</h1>
    <h2>{{ 1num }}</h2>
    <h2>{{ operation }}</h2>
    <h2>{{ 2num }}</h2>
    <h2>Result: {{ res }}</h2>
</body>
</html>